ul {
  list-style: none;
  margin: 0;
  /* padding: 0; */
}

.accordion__item--list {
  transition: height ease-in 2s;
}

.visible {
  height: auto;
  /* transition: ease-in 2s; */
}

.hidden {
  height: 0;
  overflow: hidden;
  /* transition: ease-in 2s; */
}
